@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>The notepad app is a simple demonstration of CRUD Opertaions in .NET using Razor Pages as a User Interface.</p>
<p>Created By: <a class="text-info">Patrick Shea </a></p>
<p>Email: <a class="text-info">patshea26@gmail.com </a> </p>
<p>LinkedIn: <a class="text-info" href="https://www.linkedin.com/in/sheapa/">https://www.linkedin.com/in/sheapa/</a> </P>